.skillButtonsContainer {
  width: 100%;
  margin-top: 3rem;
  height: fit-content;
  background-color: $green-color;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  button {
    color: $text-faded;
    flex: 1;
    font-size: 1.5rem;
    width: 100%;
    min-width: fit-content;
    font-weight: 400;
    height: 4.5rem;
    &:hover {
      border-color: transparent;
      border-top: 1px $green-dark solid;
      background-color: $green-dark;
      color: $text-color;
    }
  }
}
