.navBar {
  width: 100%;
  position: fixed;
  height: fit-content;
  left: 0;
  top: 0;
  text-align: left;
  display: flex;
  flex-direction: row;
  background-color: $bg-light;
  z-index: 999;
  h2 {
    padding: 0 2rem;
    text-wrap: nowrap;
    padding-left: $left-shifted;
    @media (max-width: 768px) {
      padding-left: $left-shifted-mobile;
    }
    font-size: 2rem;
    margin-bottom: 1rem;
    flex: 1;
  }
  .navButtons {
    padding: 2rem;
    padding-bottom: 0;
    height: 2rem;
    @media (max-width: 768px) {
      padding-left: $left-shifted-mobile;
    }
    padding-right: $left-shifted;
    justify-content: flex-end;
  }
}
