.skillBarContainer {
  display: flex;
  flex-direction: column;
}
.skillBar {
  display: flex;
  flex-direction: row;
  height: 6rem;
  margin: 1rem;
  align-content: center;
  h2 {
    align-content: center;
  }
  img {
    margin-left: 0.2rem;
    width: 6rem;
    height: 5rem;
    user-select: none;
    -webkit-user-drag: none;
  }
}

.midBar {
  border-left: solid 3px $orange;
}

.dot {
  color: $orange;
  position: absolute;
  user-select: none;
  z-index: 99;
  font-size: 1.5rem;
  transform: translate(-40%, 250%);
}
