.skillBarContainer {
  display: flex;
  flex-direction: column;
}
.skillBar {
  display: flex;
  flex-direction: row;
  height: 4rem;
  margin: 1rem;
  align-content: center;
  h2 {
    align-content: center;
  }
  img {
    margin-left: 0.2rem;
    width: 6rem;
    height: 5rem;
  }
}

.midBar {
  border-left: solid 3px rgb(236, 96, 83);
}

.dot {
  color: rgb(236, 96, 83);
  position: absolute;
  z-index: 99;
  font-size: 1.5rem;
  transform: translate(-40%, 160%);
}
