.customButtonFilled {
  width: fit-content;
  background-color: $orange;
  &:hover {
    border: 1px solid $orange;
    background-color: $orange-light;
  }
}
.customButtonEmpty {
  width: fit-content;
  border: 1px solid $orange;
  &:hover {
    border: 1px solid $orange-light;
    background-color: $bg-dark;
  }
}
