.sentenceContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 60rem;
  padding-left: $left-shifted;
  @media (max-width: 768px) {
    padding-left: $left-shifted-mobile;
  }
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  height: fit-content;
  margin-bottom: 2rem;
  font-size: 3rem;
  .sentence {
    display: flex;
    flex-direction: row;
  }
  .orange {
    color: $orange;
  }

  h2 {
    margin: 0;
    margin-left: 0.4rem;
    text-wrap: nowrap;
  }
  .spacer {
    color: $orange;
    margin: 0;
    position: relative;
    transform: translate(-60%, -10%);
    font-weight: 100;
    user-select: none;
  }
  .dot {
    color: $orange;
  }
  .spacedWord {
    margin-left: -9rem;
    font-weight: 500;
  }

  .currentWord {
    width: 100%;
    display: flex;
    min-width: 0;
  }
  .lShape {
    color: $text-writer;
    font-weight: 100;
    margin-left: 0;
  }

  .breathing {
    animation: breathe 0.6s forwards infinite;
  }
}
.smallWord {
  font-weight: 500;
}
@keyframes breathe {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  31% {
    opacity: 100;
  }
  70% {
    opacity: 100;
  }
  71% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
