.sentenceContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 56vw;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  height: 40vh;
  font-size: 4rem;
  .sentence {
    display: flex;
    flex-direction: row;
  }
  .orange {
    color: rgb(205, 166, 27);
  }
  h2 {
    margin: 0;
    margin-left: 0.4rem;
    text-wrap: nowrap;
  }
  .currentWord {
    width: 100%;
    display: flex;
    min-width: 0;
  }
  .lShape {
    color: rgba(182, 182, 182, 0.809);
    font-weight: 100;
    margin-left: 0;
  }

  .breathing {
    animation: breathe 0.6s forwards infinite;
  }
}

@keyframes breathe {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  31% {
    opacity: 100;
  }
  70% {
    opacity: 100;
  }
  71% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
