.homeScreen {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 8rem;
}
.mainContent {
  display: flex;
  flex-direction: row;
  margin: 0 auto;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}
.bookMark {
  position: absolute;
  top: 0;
}
