.plusBoxContainer {
  display: flex;
  flex-direction: row;
  h2 {
    text-wrap: wrap;
    width: 7rem;
    margin: 0;
  }
}
.plusBox {
  margin: 0;
  margin-right: 10rem;
}
.colored {
  color: $orange;
  margin-left: 0.4rem;
  font-weight: 4000;
}
.title {
  display: flex;
  flex-direction: row;
  text-align: center;
}
