.sentenceContainer {
  display: flex;
  flex-direction: row;
  text-align: left;
  width: 50vw;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  left: 20%;
}
.currentWord {
  width: fit-content;
  display: inline-block;
  min-width: 0;
}
.lShape {
  animation: beathe 0.6s forwards infinite;
  margin-left: .3rem;
}
@keyframes beathe {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  31% {
    opacity: 100;
  }
  70% {
    opacity: 100;
  }
  71% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
