.imageContainer {
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
  position: relative;
  h2 {
    all: unset;
    padding: 0;
    margin: 0;
  }
  .imageBackground {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(200, 101, 26, 0.439);
    filter: blur(6rem);
    border-radius: 50%;
  }
  .circleBackground {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    font-weight: 20;
    transform: translate(0, -30%);
    color: rgb(218, 30, 30);
    font-size: 25rem;
  }
  .imgContainer {
    position: relative;
    z-index: 99;
    width: 100%;
    height: 100%;
    img {
      width: 25rem;
      height: 25rem;
    }
  }
}
