//colors
$bg-color: #101c29;
$bg-dark: #091017;
$bg-light: rgb(24, 42, 61);

$orange: rgb(236, 96, 83);
$orange-dark: rgb(218, 30, 30);
$orange-light: rgb(255, 110, 97);

$text-color: white;
$text-faded: rgb(176, 176, 172);
$text-writer: rgba(182, 182, 182, 0.809);

$green-color: rgb(19, 51, 65);
$green-dark: rgb(19, 31, 36);

$brown-color: rgba(200, 101, 26, 0.439);

//margins:
$left-shifted: 10rem;
$left-shifted-mobile: 2rem;

