$bg-color: #101c29;
$bg-dark: #091017;

$orange: rgb(236, 96, 83);
$orange-dark: rgb(218, 30, 30);
$orange-light: rgb(255, 110, 97);

$text-color: white;
$text-faded: rgb(123, 123, 119);
$text-writer: rgba(182, 182, 182, 0.809);

$green-color: rgb(20, 35, 42);
$green-dark: rgb(19, 31, 36);

$brown-color: rgba(200, 101, 26, 0.439);
