.aboutContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 3rem;
  text-align: left;
  p {
    padding: 0;
    font-size: 1.2rem;
  }
  h1 {
    padding: 0;
    margin-bottom: 0;
  }
}
