.footerContainer {
  height: fit-content;
  background-color: $bg-light;
  width: 100vw;
  text-align: center;
  padding-bottom: 1rem;
  h3 {
    margin: 0.7rem 0 1rem 0;
    padding: 0;
  }
  h1 {
    padding-top: 2rem;
    margin-bottom: 0;
  }
}
